name: Node.js-Angular-CI/CD

on:
  push:
    branches: [ "master", "dev" ]
  pull_request:
    branches: [ "master", "dev" ]

permissions:
  contents: write  # This gives the GITHUB_TOKEN permission on push to gh-pages 

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.15.0]

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - name: Install Angular CLI
      run: npm install --global @angular/cli@9.0.1
    
    - name: Install dependencies #ensure package-lock.json
      run: npm ci 
    
    - name: Build Angular project
      run: npm run build --if-present         
      #run: npm test

  build-and-deploy:
    needs: build-and-test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.15.0]
    
    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'

    - name: Install Angular CLI
      run: npm install --global @angular/cli@9.0.1
    
    - name: Install dependencies
      run: npm ci

    - name: Build Angular project
      run: npm run-script deploy

    - name: GitHub Pages Deployment
      uses: JamesIves/github-pages-deploy-action@releases/v3
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BRANCH: gh-pages
        FOLDER: dist/todo
        CLEAN: true
